<script setup lang="ts">
// import { ref } from 'vue'
import RadioFilters from '@/components/base/RadioFilters.vue'
import MainOrders from '@/components/main/MainOrders.vue'
import type { IRadioFilter } from '@/components/base/BaseTypes'
import type { TOrder } from './MainTypes'

/**
 * TODO: get orders from back
 */
const orders: TOrder[] = [
  {
    filterType: 'incoming',
    orderName: 'Название заказа',
    companyName: 'Название компании',
    amount: 20000,
    date: '16.01.2024'
  },
  {
    filterType: 'for-approval',
    orderName: 'Название заказа',
    companyName: 'Название компании',
    amount: 20000,
    date: '16.01.2024'
  },
  {
    filterType: 'accepted',
    orderName: 'Название заказа',
    companyName: 'Название компании',
    amount: 20000,
    date: '16.01.2024'
  },
  {
    filterType: 'at-work',
    orderName: 'Название заказа',
    companyName: 'Название компании',
    amount: 20000,
    date: '16.01.2024'
  },
  {
    filterType: 'submitted',
    orderName: 'Название заказа',
    companyName: 'Название компании',
    amount: 20000,
    date: '16.01.2024'
  },
  {
    filterType: 'incoming',
    orderName: 'Название заказа',
    companyName: 'Название компании',
    amount: 20000,
    date: '16.01.2024'
  },
  {
    filterType: 'for-approval',
    orderName: 'Название заказа',
    companyName: 'Название компании',
    amount: 20000,
    date: '16.01.2024'
  },
  {
    filterType: 'accepted',
    orderName: 'Название заказа',
    companyName: 'Название компании',
    amount: 20000,
    date: '16.01.2024'
  },
  {
    filterType: 'at-work',
    orderName: 'Название заказа',
    companyName: 'Название компании',
    amount: 20000,
    date: '16.01.2024'
  },
  {
    filterType: 'submitted',
    orderName: 'Название заказа',
    companyName: 'Название компании',
    amount: 20000,
    date: '16.01.2024'
  },
  {
    filterType: 'incoming',
    orderName: 'Название заказа',
    companyName: 'Название компании',
    amount: 20000,
    date: '16.01.2024'
  },
  {
    filterType: 'for-approval',
    orderName: 'Название заказа',
    companyName: 'Название компании',
    amount: 20000,
    date: '16.01.2024'
  },
  {
    filterType: 'accepted',
    orderName: 'Название заказа',
    companyName: 'Название компании',
    amount: 20000,
    date: '16.01.2024'
  },
  {
    filterType: 'submitted',
    orderName: 'Название заказа',
    companyName: 'Название компании',
    amount: 20000,
    date: '16.01.2024'
  },
  {
    filterType: 'incoming',
    orderName: 'Название заказа',
    companyName: 'Название компании',
    amount: 20000,
    date: '16.01.2024'
  },
  {
    filterType: 'for-approval',
    orderName: 'Название заказа',
    companyName: 'Название компании',
    amount: 20000,
    date: '16.01.2024'
  },
  {
    filterType: 'accepted',
    orderName: 'Название заказа',
    companyName: 'Название компании',
    amount: 20000,
    date: '16.01.2024'
  },
  {
    filterType: 'at-work',
    orderName: 'Название заказа',
    companyName: 'Название компании',
    amount: 20000,
    date: '16.01.2024'
  },
  {
    filterType: 'submitted',
    orderName: 'Название заказа',
    companyName: 'Название компании',
    amount: 20000,
    date: '16.01.2024'
  },
  {
    filterType: 'submitted',
    orderName: 'Название заказа',
    companyName: 'Название компании',
    amount: 20000,
    date: '16.01.2024'
  },
  {
    filterType: 'submitted',
    orderName: 'Название заказа',
    companyName: 'Название компании',
    amount: 20000,
    date: '16.01.2024'
  },
  {
    filterType: 'submitted',
    orderName: 'Название заказа',
    companyName: 'Название компании',
    amount: 20000,
    date: '16.01.2024'
  }
]

const staticFilters: IRadioFilter[] = [
  {
    filterType: 'incoming',
    filterText: 'Входящие заявки'
  },
  {
    filterType: 'for-approval',
    filterText: 'На согласовании'
  },
  {
    filterType: 'accepted',
    filterText: 'Принято в работу'
  },
  {
    filterType: 'at-work',
    filterText: 'В работе'
  },
  {
    filterType: 'submitted',
    filterText: 'Заказ сдан'
  }
]

let activeFilter = ref('')
const filterOrders = (filter: string) => {
  if (activeFilter.value === filter) {
    activeFilter.value = ''
  } else {
    activeFilter.value = filter
  }
}

// get filters from orders array
// const filters = orders.reduce<IRadioFilter[]>((acc, { filterType, filterText }) => {
//   const existingFilter = acc.find((filter) => filter.filterType === filterType)
//   if (!existingFilter) acc.push({ filterType, filterText })
//   return acc
// }, [])
</script>
<template>
  <div class="py-12 px-10">
    <RadioFilters
      :filters="staticFilters"
      :active-filter="activeFilter"
      @filter-orders="filterOrders"
    />
    <MainOrders
      :orders="orders"
      :filters="staticFilters"
      :active-filter="activeFilter"
      class="mt-8"
    />
  </div>
</template>
