<script setup lang="ts">
import type { IRadioFilter } from '@/components/base/BaseTypes'
import type { TOrder } from './MainTypes'

const props = defineProps<{
  orders: TOrder[]
  filters: IRadioFilter[]
  activeFilter: string
}>()

const getFilteredOrders = (filter: string): TOrder[] => {
  return [...props.orders].filter((el) => el.filterType === filter)
}

const getSlicedOrders = (orders: TOrder[], idx: number): TOrder[] => {
  return orders.slice(0, idx <= 1 ? idx + 1 : idx)
}

let isFiltered: boolean = !!props.activeFilter
watch(
  () => props.activeFilter,
  (filter) => {
    isFiltered = !!filter
  }
)
</script>
<template>
  <div class="flex">
    <div
      v-for="(filter, filterIdx) in isFiltered ? filters.slice(0, 1) : filters"
      :key="filterIdx"
      :class="{ 'flex flex-wrap': isFiltered }"
      class="w-full"
    >
      <div
        v-for="(order, orderIdx) in isFiltered
          ? getFilteredOrders(activeFilter)
          : getSlicedOrders(getFilteredOrders(filter.filterType), filterIdx)"
        :key="orderIdx"
        :class="[isFiltered ? `w-1/5` : 'w-full']"
      >
        <div
          v-if="order.filterType === filter.filterType || isFiltered"
          class="mx-4 my-4 flex h-44 flex-col justify-between rounded-br-xl rounded-tl-xl bg-dark-blue px-4 py-2"
        >
          <div>
            <div>{{ order.filterType }}</div>
            <div>{{ order.orderName }}</div>
            <div class="text-light-grey">{{ order.amount }}</div>
          </div>
          <div>
            <div>{{ order.companyName }}</div>
            <div class="text-light-grey">{{ order.date }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
