<template>
  <div class="flex h-20 w-full items-center bg-dark-blue p-4">
    <div>logo here</div>
    <div class="flex ml-24">
      <div v-for="(item, idx) in 5" :key="item" class="pr-10">
        some link or dropdown {{ idx }}
      </div>
    </div>
  </div>
</template>
