<script setup lang="ts">
import type { IRadioFilter } from './BaseTypes'

const props = defineProps<{
  filters: IRadioFilter[]
  activeFilter: string
}>()
const emits = defineEmits<{
  (eventName: 'filterOrders', filter: string): void
}>()

const filterOrders = (filter: string) => {
  emits('filterOrders', filter)
}
</script>
<template>
  <div class="flex">
    <button
      v-for="filter in filters"
      :key="filter.filterType"
      @click="filterOrders(filter.filterType)"
      :class="[activeFilter === filter.filterType ? 'bg-blue' : 'bg-grey']"
      class="mx-4 flex h-14 w-full cursor-pointer items-center justify-center rounded-br-2xl rounded-tl-2xl pb-1"
    >
      {{ filter.filterText }}
    </button>
  </div>
</template>
