<script setup lang="ts">
import type { INavLink } from './BaseTypes.ts'

const props = defineProps<{
  sidebarOpened: boolean
}>()
const emits = defineEmits<{
  (eventName: 'toggleSidebar'): void
}>()

const navList: INavLink[] = [
  {
    url: '/',
    text: 'Главная'
  },
  {
    url: '/auth',
    text: 'Авторизация'
  },
  {
    url: '/about',
    text: 'О нас (нет такой страницы)'
  }
]
</script>
<template>
  <div class="flex h-full flex-col justify-between bg-deep-blue text-white">
    <div>
      <div class="flex justify-center">
        <NuxtIcon name="indeling-logo" filled class="mt-8 w-5/6 p-2" />
      </div>
      <ul class="mt-40 flex flex-col items-center justify-center">
        <li v-for="link in navList" :key="link.url" class="text-lg hover:text-blue">
          <NuxtLink :to="link.url">
            {{ sidebarOpened ? link.text : 'icn' }}
          </NuxtLink>
        </li>
      </ul>
    </div>
    <div class="mb-4 mr-6 flex justify-end">
      <button @click="$emit('toggleSidebar')">Скрыть</button>
    </div>
  </div>
</template>
