<script setup lang="ts">
import HeaderPartial from '@/components/base/HeaderPartial.vue'
import Footer from '@/components/base/Footer.vue'
</script>
<template>
  <div>
    <el-container>
      <el-header class="!p-0">
        <HeaderPartial />
      </el-header>
      <el-main>
        <slot />
      </el-main>
      <el-footer class="!p-0">
        <Footer />
      </el-footer>
    </el-container>
  </div>
</template>
