<script setup lang="ts">
import { ref } from 'vue'
import Sidebar from '@/components/base/Sidebar.vue'
import Footer from '@/components/base/Footer.vue'

const sidebarOpened: Ref<boolean> = ref(true)
</script>
<template>
  <div>
    <el-container>
      <div class="w-full">
        <div class="flex">
          <div
            class="w-1/5 transition-all"
            :class="[sidebarOpened ? `w-1/6 min-w-60` : 'w-20 min-w-20']"
          >
            <Sidebar
              @toggle-sidebar="sidebarOpened = !sidebarOpened"
              :sidebarOpened="sidebarOpened"
              class="fixed w-1/5 transition-all"
              :class="[sidebarOpened ? `w-1/6 min-w-60` : 'w-20 min-w-20']"
            />
          </div>
          <div
            class="flex min-h-screen flex-col justify-between transition-all"
            :class="[sidebarOpened ? `w-5/6` : 'w-full']"
          >
            <slot />
            <Footer />
          </div>
        </div>
      </div>
    </el-container>
  </div>
</template>
