<script setup lang="ts">
import type { TAuthForm } from './AuthTypes'
import AuthForm from '@/components/auth/AuthForm.vue'

/**
 * TODO: make request
 */
const sendAuthForm = (form: TAuthForm) => {
  console.log(form, 'here we get validated form')
}
</script>
<template>
  <div class="flex h-[90vh] flex-col items-center justify-center font-contentFont">
    <AuthForm @on-submit="sendAuthForm" />
  </div>
</template>
