<script setup lang="ts">
import type { FormInstance, FormItemRule } from 'element-plus'
import type { TAuthForm } from './AuthTypes'
import { reactive, ref } from 'vue'

const emit = defineEmits(['onSubmit'])

const authForm: TAuthForm = reactive({
  email: '',
  password: '',
  isRemember: true
})
const formRef = ref<FormInstance>()
const emailRules: FormItemRule[] = [
  {
    required: true,
    message: 'Пожалуйста, введите Email',
    trigger: 'blur'
  },
  {
    type: 'email',
    message: 'Пожалуйста, введите корректный Email',
    trigger: ['blur', 'change']
  }
]
const passwordRules: FormItemRule[] = [{ required: true, message: 'Пожалуйста, введите пароль' }]

const submitForm = (form: FormInstance | undefined) => {
  if (!form) return
  form.validate((valid) => {
    if (valid) {
      console.log('submit!')
      emit('onSubmit', authForm)
    } else {
      console.log('error submit!')
      return false
    }
  })
}
</script>
<template>
  <div class="flex w-full max-w-96 flex-col items-center rounded-lg border  border-dark-blue p-12">
    <p class="mb-8 text-center text-xl">Вход или регистрация</p>
    <el-form label-position="top" class="w-full" ref="formRef" :model="authForm">
      <el-form-item label="Email" prop="email" :rules="emailRules">
        <el-input autocomplete="true" type="email" v-model="authForm.email" />
      </el-form-item>
      <el-form-item label="Пароль" prop="password" :rules="passwordRules">
        <el-input v-model="authForm.password" type="password" />
      </el-form-item>
      <el-form-item>
        <div class="flex w-full justify-between">
          <el-checkbox v-model="authForm.isRemember" size="small">Запомнить меня</el-checkbox>
          <button class="text-xs text-blue underline">Забыли пароль?</button>
        </div>
      </el-form-item>
      <el-form-item>
        <el-button @click="submitForm(formRef)" type="primary" class="w-full">
          Авторизация
        </el-button>
      </el-form-item>
    </el-form>
  </div>
</template>
